.box{
    padding: 5%;
}
.title{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #00316c;
}
.name{
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    color: #555555;
}
.text{
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    color: #555555;
}
.boxs{
    text-align: center;
}

@media (max-width: 1000px){
    .image{
        width: 500px;
        height: auto;
    }
}
@media (max-width: 560px){
    .image{
        width: 400px;
        height: auto;
    }
}
@media (max-width: 450px){
    .image{
        width: 300px;
        height: auto;
    }
}
@media (max-width: 350px){
    .image{
        display: none;
    }
}