.container{
    padding: 5%;
}
.image{
    width: 350px;
    height: auto;
    margin-left: 20px;
}
.title{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

@media (max-width: 980px) {
    .image{
        width: 250px;
        height: auto;
        flex-wrap: wrap;
    }
}